; see http://editorconfig.org/ for docs on this file

root = true

[*]
; help with sharing files across os's (i.e. network share or through local vm)
charset = utf-8

; temporarily disabled until we enable formatting com.unity.coding
trim_trailing_whitespace = true
insert_final_newline = true

;;; FORMATTABLE

; Note: We need to split the formattable files configs into shorter duplicate entries (logically grouped)
; due to known issue in VS editorconfig extension where there is a limit of 51 characters (empirically determined).
; see: https://github.com/editorconfig/editorconfig-visualstudio/issues/21

[*.{c,h,cpp,hpp,m,mm,cc,cs}]
indent_style = space
indent_size = 4
;formatters = uncrustify, generic

[*.{cg,cginc,glslinc,hlsl,shader,tt,y,ypp,yy}]
indent_style = space
indent_size = 4
;formatters = generic

[*.{asm,s,S,pch,pchmm,java,sh,uss}]
indent_style = space
indent_size = 4
;formatters = generic

[*.md]
indent_size = 2
; explicitly choosing to drop trailing whitespace - this is a bad feature of markdown and let's not rely on it (invisible; too easy to mess up/break)
trim_trailing_whitespace = true
;formatters = generic

;;; API SCRAPING

[**/*Tests/**.asmdef]
scrape_api = false

[*.Tests.asmdef]
scrape_api = false

[*.TestComponents.asmdef]
scrape_api = false

;;; OTHER FILE TYPES

[{Makefile,makefile}]
; tab characters are part of the Makefile format
indent_style = tab

[*.asmdef]
indent_size = 4

[*.json]
indent_size = 2

[*.{vcproj,bat,cmd,xaml,tt,t4,ttinclude}]
end_of_line = crlf

; this VS-specific stuff is based on experiments to see how VS will modify a file after it has been manually edited.
; the settings are meant to closely match what VS does to minimize unnecessary diffs.
[*.{vcxproj,vcxproj.filters}]
indent_style = space
indent_size = 2
end_of_line = crlf
charset = utf-8-bom
trim_trailing_whitespace = true
insert_final_newline = false
; must be broken out because of 51-char bug (https://github.com/editorconfig/editorconfig-visualstudio/issues/21)
[*.{csproj,pyproj,props,targets}]
indent_style = space
indent_size = 2
end_of_line = crlf
charset = utf-8-bom
trim_trailing_whitespace = true
insert_final_newline = false
[*.{sln,sln.template}]
indent_style = tab
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false
