.entity-hierarchy-toolbar__container
{
    justify-content: space-between;
}

.entity-hierarchy-toolbar__container > VisualElement
{
    align-items: center;
    flex-direction: row;
}

.entity-hierarchy-toolbar__search-field
{
    flex: 1 1 300px;
    max-width: 300px;
    min-width: 100px;
}
